<section id="estudios">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-3">
        <h1>Estudios</h1>
      </div>
    </div>
    <div class="row">
      <ul>
        <li *ngFor="let estudios of estudiosLista">
          <div class="col text-center mb-3">
            <img [src]="estudios.logo" alt="" class="img-habil">
            <h4>{{estudios.nombre}}</h4>
            <h6>{{estudios.titulo}}</h6>
            <b>{{estudios.fecha}}</b>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>